# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Virtual environments
.venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Quarto
/.quarto/
/site_libs/
**/*.quarto_ipynb
_freeze/

# Test/cache artifacts
.pytest_cache/
/tmp/
/output/

# Editor / OS
.vscode/
.luarc.json
.DS_Store
